body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Open Sans', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:link {
 color: #678787;
 text-decoration: none;
}
a:visited {
 color: DarkSlateGray;
 font-weight: normal;
}
a:hover {
  text-decoration: underline;
}
h1 {
    font-family: Avenir, Helvetica, Verdana, sans-serif;
    font-size: 2em;
    color: #678787;
    letter-spacing: 0.2em;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-family:'Open Sans', 'Arial', 'Sans-Serif';
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.homeimage img {
    width: 66.6667%;
    float: left;
}
