body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Open Sans', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
footer {
    clear: both;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #678787;
    text-decoration: none;
    display: inline;
    padding: 15px;
    margin: 0 10px;
}
nav ul li a:hover, footer ul li a:hover {
    color: #516a6a;
    text-decoration: none;
}

a:link {
 color: #678787;
 text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active, a:visited {
    text-decoration: none;
    color: #678787;
}

h1 {
    font-family: Avenir, Helvetica, Verdana, sans-serif;
    font-size: 2em;
    color: #678787;
    letter-spacing: 0.2em;
}
h2 {
    font-family: 'Open Sans', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    color: DarkSlateGray;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    font-family:'Open Sans', 'Arial', 'Sans-Serif';
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.homeimage img {
    width: 63%;
    float: center;
    margin: 0 3em 0 0;
}

.quotetext {
    width: 50%;
    font-size: .8em;
    float: center;
    margin: 1em 0 1em 0;
}

.intro {
    display: block;
    margin: 0 0 2em 0;
}
